<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.eduai.plugin_educloud_touping">

    <!-- Screen Capturing -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA_PROJECTION" />

    <application>
        <service
            android:name="com.baidu.eduai.sdk.touping.ForScreenService"
            android:enabled="true"
            android:exported="true"
            android:process="com.baidu.eduai.sdk.forscreen.remote"/>

        <activity
            android:name="com.baidu.eduai.sdk.touping.ForScreenActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.baidu.duer.forscreen.activity" />
            </intent-filter>
        </activity>
    </application>

</manifest>